html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
.h1 {color: $orange-900; }
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  //line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
  //color: $orange-900;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  --background-color: $deep-purple-a700;
  background-color: $white;
  background-image: url('../../img/gray.svg'); 
  color: $black;
  margin: 0;
  font-size: 1rem;
  --text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}
/* ------------------------ */

.homepage .home-section{  
  background-image: url('../../img/home1.svg');  
  position: relative;
}
.home-section{
  min-height: 420px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  border: none;
}
div > .bg-white{
  @include shadow-big-color($grey-900);
  border-radius: 0.25rem;
  margin: 15px;
  min-height: 300px;
}
div > .bg-white > section {
  padding-top: 15px;
}
.altura {
  min-height: 480px;
}

.card-footer{background-color: transparent;}

/* Media inicio */
@media (min-width: 768px) {
  .card-group {
    display: flex;
    flex-flow: column;
  }
}
@media (max-width: 576px) {
  .card{ flex-direction: row; }
  .container { margin: 0px; }
  div > .homepage, .bg-white ,.col-md-auto,.col-lg-auto { margin: 0px; padding: 0px; }
  div > .bg-white{ margin:0px; }
  .home-section{ min-height: 320px; }
}